@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.topnav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}
.topnav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }
  .topnav ul div a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }

.topnav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }

  .topnav ul div a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
.topnav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
.topnav ul li {
    display: inline-block;
  }

  .topnav ul div {
    display: inline-block;
  } 

.logoutBtn {
    padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;

   

    box-sizing: border-box; 
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;

  }

.logoutBtn:hover {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);



}


/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
    display: none;
}


@media screen and (max-width: 500px) {
    .topnav  li:not(:first-child) {display: none;}
    .topnav a.icon {
       
        display: block;
    }
    .topnav .logoutBtn  { 
        display: block;
    }
}


@media screen and (max-width: 500px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* .topnav {
        top:0;
        padding: 0;
    }

    .topnav ul {
        
        top:0
    } */
    .topnav.responsive li {
        top:0;
        float: none;
        display: block;
        text-align: left;
        width:100%;
    }
    .topnav .logoutBtn  {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
        width:100%;
    }
}
   












